{% extends 'base.html.twig' %}
{% block body  %}

<div style='text-align : center' class="p-3 mb-2 bg-primary text-white"> 
<h1> Vous êtes dans la liste des formations de Paris : </h1> 
</div>
{% if (message) %}
    {{ message }}
{% endif %}
{% for formation in ensFormations %}
    Date de début : {{ formation.dateDebut|date("m/d/Y") }} 
    Nombre d'heures : {{ formation.nbHeures }}
    Departement : {{ formation.departement }}
    Produit : {{ formation.produit.libelle}}
    <button class="btn btn-outline-secondary" type="submit"><a href="{{path('supp_formation', {'id': formation.id})}}">suppression</a></br></button> <br> <br>
    
{% endfor %}
<button class="btn btn-outline-secondary" type="submit"><a href="{{path('ajout_formation')}}">Ajouter une nouvelle formation</a></br></button>
<button class="btn btn-outline-secondary" type="submit"><a href="{{path('affiche_inscription')}}">Acceder aux inscriptions</a></br></button> 


{% endblock %}